/* INDEX */
/* a:active{color: red} */

@import url('https://fonts.googleapis.com/css?family=Raleway:500,600,800,800i,900,900i&display=swap');
#menu{
     
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 4px;
     
    background-color:"";
    padding-top: 75px;
    padding-right: 15px;
}
#menu li a{
    color: white;
    padding-right: 50px;

}
 

#menu li a:hover{
    color: #c2484a;
}

#video_index{
    padding-top: 50px;

}

#index{
    background-image: url("media/photo/index.jpg");
    background-position: center;
    background-repeat: no-repeat;

}

#footer_index{
    padding-top: 20px;
}
#footer_index p{
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2px;

    color:white;
    margin-bottom: 0px;
    margin:0px;
    
}

#copyright_index{
    padding-top: 30px;
}
#copyright_index p{
    font-family: 'Raleway', sans-serif;
    font-size: 8px;
    font-weight: medium;
    font-style: italic;
    letter-spacing: 2px;

     

    color:white;
    margin-bottom: 0px;
}

/********************************************* PROJECTS *****************************************/

#projects{
    background-image: url("media/photo/project.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

#uno {
    /* background-color: red; */
    padding-top: 200px;
}

#projects_video{
    padding-top: 125px;
}

 

.row{
    color:white;
}

.row img{
    /* padding-top: 200px; */
}

 

 

#copyright_project{
    padding-top: 30px;
}
#copyright_project p{
    font-family: 'Raleway', sans-serif;
    font-size: 8px;
    font-weight: medium;
    font-style: italic;
    letter-spacing: 2px;

     

    color:white;
    margin-bottom: 0px;
}

/* ----------------------editorial_desing----------------- */

#editorial_design{
    background-image: url("media/photo/editorial_background.jpg");
    /* background-position: center;
    background-repeat: no-repeat; */
}
     
     

}

#editorial_design_columna_dos{
    padding-top: 80px;
    padding-left: 125px;
}

#copyright_editorial_design{
    padding-top: 135px;
}
#copyright_editorial_design p{
    font-family: 'Raleway', sans-serif;
    font-size: 8px;
    font-weight: medium;
    font-style: italic;
    letter-spacing: 2px;

     

    color:white;
    margin-bottom: 0px;
}





/* ----------------------experience_design----------------- */

#experience_design{
    background-image: url("media/photo/experience_background.jpg");

}

#experience_design_columna_dos{
    padding-top: 80px;
    padding-left: 125px;
}

#copyright_experience_design{
    padding-top: 135px;
}
#copyright_experience_design p{
    font-family: 'Raleway', sans-serif;
    font-size: 8px;
    font-weight: medium;
    font-style: italic;
    letter-spacing: 2px;

     

    color:white;
    margin-bottom: 0px;
}
 



/*----------------- cementerio-------------------- */

#row_uno{
    padding-top: 100px;
}

#menu_editorial_design_cementerio_de_los_ilustres{
     
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 4px;
     
    background-color:"";
    padding-top: 100px;
    padding-right: 50px;
}
#menu_editorial_design_cementerio_de_los_ilustres li a{
    color: black;
    padding-right: 50px;

}
 

#menu_editorial_design_cementerio_de_los_ilustres li a:hover{
    color: #c2484a;
}

#menu_editorial_design_cementerio_de_los_ilustres_logo{
    padding-top: 50px;
    padding-left: 120px;
}

#btn_symbolic_imaginary{
    padding-left: 80px;
    padding-top: 15px;
}

#row_tres{
    
    /* largo */
    
    /* width: 1920%;
    height: 738px; */
    background-image: url("media/cementerio_ilustres/pag7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: none;
}

#row_tres img{
    padding-top: 400px;
    padding-bottom: 290px;
}

/* no furula */
.sinpadding [class*="div"] {
    padding: 0;
}

#copyright_editorial_design{
    padding-top: 25px;
    padding-bottom: 10px;
}
#copyright_editorial_design p{
    font-family: 'Raleway', sans-serif;
    font-size: 8px;
    font-weight: medium;
    font-style: italic;
    letter-spacing: 2px;

     

    color:black;
    margin-bottom: 0px;
}


/* -----------ACNE STUDIOS---- */
#acne_studios_logo{
    padding-top: 50px;
}
#acne_studios_row_uno{
    padding-top: 100px;
}

#acne_studios_row_espacios{
    padding-top: 50px;
}

#acne_studios_esapcio_extra{
    padding-top: 50px;
}

 

 

#acne_studio_foto_final {
    /* Asignamos una altura mínima */
    min-height: 400px;
    min-width: 721;
    
    background-image: url('media/acne_studios/acne-studio5.png');
    background-size: cover;
    background-position: center;
  }

  #copyright_acne_studios{
    padding-top: 25px;
    padding-bottom: 10px;
}
#copyright_acne_studios p{
    font-family: 'Raleway', sans-serif;
    font-size: 8px;
    font-weight: medium;
    font-style: italic;
    letter-spacing: 2px;

     

    color:black;
    margin-bottom: 0px;
}


/*-------- SEXTING--------- */

#menu_sexting{
     
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 4px;
     
    background-color:"";
    padding-top: 100px;
    padding-right: 50px;
}
#menu_sexting li a{
    color: white;
    padding-right: 50px;

}
 

#menu_sexting li a:hover{
    color: #c2484a;
}

#menu_sexting_logo{
    padding-top: 50px;
    padding-left: 120px;
}




 

#sexting_primera {
    /* Asignamos una altura mínima */
    min-height: 500px;
     
    
    background-image: url('media/sexting/sexting1.jpg');
    background-size: cover;
    background-position: center;
  }

  #sexting_segunda {
    /* Asignamos una altura mínima */
    min-height: 1263px;

     
     
    
    background-image: url('media/sexting/sexting2.jpg');
    background-size: cover;
    background-position: center;
  }

  #sexting_tercera{
    /* Asignamos una altura mínima */
    min-height: 418px;
     
    
    background-image: url('media/sexting/sexting3.jpg');
    background-size: cover;
    background-position: center;
  }

  #sexting_cuarta {
    /* Asignamos una altura mínima */
    min-height: 100vh;
    min-width: 100vh;
    
    background-image: url('media/sexting/sexting4.jpg');
    background-size: cover;
    background-position: center;
  }

  #sexting_quinta {
    /* Asignamos una altura mínima */
    min-height: 100vh;
    min-width: 100vh;
    
    background-image: url('media/sexting/sexting5.jpg');
    background-size: cover;
    background-position: center;
  }
 
#copyright_sexting{
    padding-top: 25px;
    padding-bottom: 10px;
    background-color: black;
}
#copyright_sexting p{
    font-family: 'Raleway', sans-serif;
    font-size: 8px;
    font-weight: medium;
    font-style: italic;
    letter-spacing: 2px;

     

    color:white;
    margin-bottom: 0px;
}



/* ----------SHOCKER--------------------- */
#shocked_primera {
    /* Asignamos una altura mínima */
    height: 100vh;
    
    width: 100vh;
    
    background-image: url('media/shocked/shocked.jpg');
    background-size: cover;
    background-position: center;
  }

  #shocked_segunda {
    /* Asignamos una altura mínima */
    min-height: 100vh;

    background-image: url('media/shocked/shocked1.jpg');
    background-size: cover;
    background-position: center;
  }

  #shocked_tercera{
    /* Asignamos una altura mínima */
    min-height: 50vh;
     
    
    background-image: url('media/shocked/shocked3.jpg');
    background-size: cover;
    background-position: center;
  }

  #shocked_cuarta {
    /* Asignamos una altura mínima */
    min-height: 50vh;
     
    
    background-image: url('media/shocked/shocked4.jpg');
    background-size: cover;
    background-position: center;
  }

  #shocked_quinta {
    /* Asignamos una altura mínima */
    min-height: 50vh;
     
    
    background-image: url('media/shocked/shocked5.jpg');
    background-size: cover;
    background-position: center;
  }

  #shocked_sexta{
    /* Asignamos una altura mínima */
    min-height: 50vh;
     
    
    background-image: url('media/shocked/shocked6.jpg');
    background-size: cover;
    background-position: center;
  }
 
#copyright_sexting{
    padding-top: 25px;
    padding-bottom: 10px;
    background-color: black;
}
#copyright_sexting p{
    font-family: 'Raleway', sans-serif;
    font-size: 8px;
    font-weight: medium;
    font-style: italic;
    letter-spacing: 2px;

     

    color:white;
    margin-bottom: 0px;
}



/* ----------------------- freyay -------------------------*/

#freyay_primera {
    /* Asignamos una altura mínima */
    min-height: 100vh;
    
     
    
    background-image: url('media/freyay/freeyay.jpg');
    background-size: cover;
    background-position: center;
  }

  #freyay_segunda {
    /* Asignamos una altura mínima */
    min-height: 100vh;

    background-image: url('media/freyay/freeyay1.jpg');
    background-size: cover;
    background-position: center;
  }

  #freyay_tercera{
    /* Asignamos una altura mínima */
    min-height: 50vh;
     
    
    background-image: url('media/freyay/freeyay2.jpg');
    background-size: cover;
    background-position: center;
  }

  #freyay_cuarta {
    /* Asignamos una altura mínima */
    min-height: 47vh;
     
    
    background-image: url('media/freyay/freeyay3.jpg');
    background-size: cover;
    background-position: center;
  }

  #freyay_quinta {
    /* Asignamos una altura mínima */
    min-height: 100vh;
     
    
    background-image: url('media/freyay/freeyay4.jpg');
    background-size: cover;
    background-position: center;
  }

 
 
#copyright_sexting{
    padding-top: 25px;
    padding-bottom: 10px;
    background-color: black;
}
#copyright_sexting p{
    font-family: 'Raleway', sans-serif;
    font-size: 8px;
    font-weight: medium;
    font-style: italic;
    letter-spacing: 2px;

     

    color:white;
    margin-bottom: 0px;
}


/* --------- rocking fries--------- */

#rocking_fries_primera {
    /* Asignamos una altura mínima */
    min-height: 900px;
    
     
    
    background-image: url('media/rockin_fries/rockinfries.jpg');
    background-size: cover;
    background-position: center;
  }

  #rocking_fries_segunda {
    /* Asignamos una altura mínima */
    min-height: 50vh;
     

    background-image: url('media/rockin_fries/rockinfries1.jpg');
    background-size: cover;
    background-position: center;
  }

  #rocking_fries_tercera{
    /* Asignamos una altura mínima */
    min-height: 700px;
     
    
    background-image: url('media/rockin_fries/rockinfries2.jpg');
    background-size: cover;
    background-position: center;
  }

  #rocking_fries_cuarta {
    /* Asignamos una altura mínima */
    min-height: 300px;
     
    
    background-image: url('media/rockin_fries/rockinfries3.jpg');
    background-size: cover;
    background-position: center;
  }

  #rocking_fries_quinta {
    /* Asignamos una altura mínima */
    min-height: 700px;
     
    
    background-image: url('media/rockin_fries/rockinfries4.jpg');
    background-size: cover;
    background-position: center;
  }

  #rocking_fries_sexta {
    /* Asignamos una altura mínima */
    min-height: 100vh;
     
    
    background-image: url('media/rockin_fries/rockinfries5.jpg');
    background-size: cover;
    background-position: center;
  }

  #copyright_rocking_fries{
    padding-bottom: 20px;
}
#copyright_rocking_fries p{
    font-family: 'Raleway', sans-serif;
    font-size: 8px;
    font-weight: medium;
    font-style: italic;
    letter-spacing: 2px;

     

    color:black;
    margin-bottom: 0px;
}


/*----------------------------- vamos a volar---------------------------------- */


#vamosavolar_primera {
    /* Asignamos una altura mínima */
    min-height: 60vh;
    
     
    
    background-image: url('media/vamos_a_volar/vamos-a-volar.jpg');
    background-size: cover;
    background-position: center;
  }

  #vamosavolar_segunda {
    /* Asignamos una altura mínima */
    min-height: 850px;
     

    background-image: url('media/vamos_a_volar/vamos-a-volar1.jpg');
    background-size: cover;
    background-position: center;
  }

  #vamosavolar_tercera{
    /* Asignamos una altura mínima */
    min-height: 23vh;
     
    
    background-image: url('media/vamos_a_volar/vamos-a-volar2.jpg');
    background-size: cover;
    background-position: center;
  }

  #vamosavolar_cuarta {
    /* Asignamos una altura mínima */
    min-height: 400px;
     
    
    background-image: url('media/vamos_a_volar/vamos-a-volar3.jpg');
    background-size: cover;
    background-position: center;
  }

  #vamosavolar_quinta {
    /* Asignamos una altura mínima */
    min-height: 31vh;
     
    
    background-image: url('media/vamos_a_volar/vamos-a-volar4.jpg');
    background-size: cover;
    background-position: center;
  }

  #vamosavolar_sexta {
    /* Asignamos una altura mínima */
    min-height: 50vh;
     
    
    background-image: url('media/vamos_a_volar/vamos-a-volar5.jpg');
    background-size: cover;
    background-position: center;
  }

  #vamosavolar_septima {
    /* Asignamos una altura mínima */
    
    min-height: 500px;
     
    
    background-image: url('media/vamos_a_volar/vamos-a-volar6.jpg');
    background-size: cover;
    background-position: center;
    
  }

/* -------------------------------------------- Chiua--------------------- */

#chiua_primera {
    /* Asignamos una altura mínima */
    min-height: 800px;
    
     
    
    background-image: url('media/chiua/chiua_02.jpg');
    background-size: cover;
    background-position: center;
  }

  #chiua_segunda {
    /* Asignamos una altura mínima */
    min-height: 621px;
     

    background-image: url('media/chiua/chiua_03.jpg');
    background-size: cover;
    background-position: center;
  }

  #chiua_tercera{
    /* Asignamos una altura mínima */
    min-height: 560px;
     
    
    background-image: url('media/chiua/chiua_04.jpg');
    background-size: cover;
    background-position: center;
  }

  #chiua_cuarta {
    /* Asignamos una altura mínima */
    min-height: 85vh;
      
    
    background-image: url('media/chiua/chiua_05.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  #chiua_quinta {
    /* Asignamos una altura mínima */
    min-height: 300px;
     
    
    background-image: url('media/chiua/chiua_06.jpg');
    background-size: cover;
    background-position: top;
  }

  #chiua_sexta {
    /* Asignamos una altura mínima */
    min-height: 10vh;
     
    
    background-image: url('media/chiua/chiua_07.jpg');
    background-size: cover;
    background-position: top;
  }

  #chiua_septima {
    /* Asignamos una altura mínima */
    
    min-height: 40vh;
     
    
    background-image: url('media/chiua/chiua_08.jpg');
    background-size: cover;
    background-position: center;
    
  }

  #chiua_octava {
    /* Asignamos una altura mínima */
    
    min-height: 500px;
     
    
    background-image: url('media/chiua/chiua_09.jpg');
    background-size: cover;
    background-position: left;
    
  }


  /* ABOUT ME */
  #body_about_me{
    background-image: url('media/body_about_me/amelialino_aboutme.jpg');
    width:100%; 
    height: 100%;
  }

  #logo_about_me{

    padding-top: 50px;
    padding-left: 120px;
  }


  #menu_about_me{
     
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 4px;
     
    background-color:"";
    padding-top: 67px;
    padding-right: 13px;
    
}
#menu_about_me ul{
  padding-left: 25px;
}

#menu_about_me li a{
    color: white;
    padding-right: 50px;
    

}
 

#menu_about_me li a:hover{
    color: #c2484a;
}

#about_me_boton{
  padding-top: 1125px;
  padding-left: 350px;
}



 

 

