/* INDEX */
/* a:active{color: red} */

@import url('https://fonts.googleapis.com/css?family=Raleway:500,600,800,800i,900,900i&display=swap');
#menu{
     
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 4px;
     
    background-color:"";
    padding-top: 75px;
    padding-right: 15px;
}
#menu li a{
    color: white;
    padding-right: 50px;

}
 

#menu li a:hover{
    color: #c2484a;
}

#video_index{
    padding-top: 50px;

}

#index{
    background-image: url("media/photo/index.jpg");
    background-position: center;
    background-repeat: no-repeat;

}

#footer_index{
    padding-top: 20px;
}
#footer_index p{
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2px;

    color:white;
    margin-bottom: 0px;
    margin:0px;
    
}

#copyright_index{
    padding-top: 50px;
}
#copyright_index p{
    font-family: 'Raleway', sans-serif;
    font-size: 8px;
    font-weight: medium;
    font-style: italic;
    letter-spacing: 2px;

     

    color:white;
    margin-bottom: 0px;
}

/********************************************* PROJECTS *****************************************/

#projects{
    background-image: url("media/photo/project.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

#uno {
    /* background-color: red; */
    padding-top: 200px;
}

#projects_video{
    padding-top: 125px;
}

 

.row{
    color:white;
}

.row img{
    /* padding-top: 200px; */
}

 

 

#copyright_project{
    padding-top: 30px;
}
#copyright_project p{
    font-family: 'Raleway', sans-serif;
    font-size: 8px;
    font-weight: medium;
    font-style: italic;
    letter-spacing: 2px;

     

    color:white;
    margin-bottom: 0px;
}

/* ----------------------editorial_desing----------------- */

#editorial_design{
    background-image: url("media/photo/editorial_background.jpg");
     
     

}

#editorial_design_columna_dos{
    padding-top: 100px;
}

#copyright_editorial_design{
    padding-top: 30px;
}
#copyright_editorial_design p{
    font-family: 'Raleway', sans-serif;
    font-size: 8px;
    font-weight: medium;
    font-style: italic;
    letter-spacing: 2px;

     

    color:white;
    margin-bottom: 0px;
}





/* ----------------------experience_design----------------- */

#experience_design{
    background-image: url("media/photo/experience_background.jpg");

}

#experience_design_columna_dos{
    padding-top: 50px;
}

#experience_design_logo{
    padding-top: 50px;
    padding-left: 120px;
}
 



/*----------------- cementerio-------------------- */

#row_uno{
    padding-top: 100px;
}

#menu_editorial_design_cementerio_de_los_ilustres{
     
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 4px;
     
    background-color:"";
    padding-top: 100px;
    padding-right: 50px;
}
#menu_editorial_design_cementerio_de_los_ilustres li a{
    color: black;
    padding-right: 50px;

}
 

#menu_editorial_design_cementerio_de_los_ilustres li a:hover{
    color: #c2484a;
}

#menu_editorial_design_cementerio_de_los_ilustres_logo{
    padding-top: 50px;
    padding-left: 120px;
}

#btn_symbolic_imaginary{
    padding-left: 100px;
    padding-top: 30px;
}

#row_tres{
    
    /* largo */
    
    /* width: 1920%;
    height: 738px; */
    background-image: url("media/cementerio_ilustres/pag7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: none;
}

#row_tres img{
    padding-top: 400px;
    padding-bottom: 290px;
}

/* no furula */
.sinpadding [class*="div"] {
    padding: 0;
}

/* .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
} */
 


